.advantages {
  padding-top: 38px;
  padding-bottom: 57px;

  @media (min-width: $tablet-width) {
    padding-top: 73px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 91px;
    padding-bottom: 59px;
  }
}

.advantages__title {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
  }
}

.advantages__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  position: relative;
  padding-top: 83px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $page-title-color;

  &::before {
    position: absolute;
  }

  &--ecologic {
    &::before {
      content: url("../img/icon-feature-flower.svg");
      top: 27px;
      left: 8px;
    }
  }

  &--style {
    &::before {
      content: url("../img/icon-feature-money.svg");
      top: 28px;
      left: 0;
    }
  }

  &--likes {
    &::before {
      content: url("../img/icon-feature-heart.svg");
      top: 33px;
      left: 7px;
    }
  }

  &--handmade {
    &::before {
      content: url("../img/icon-feature-ball.svg");
      top: 30px;
      left: 3px;
    }
  }

  &--support {
    &::before {
      content: url("../img/icon-feature-rocket.svg");
      top: 31px;
      left: -6px;
    }
  }

  &--package {
    &::before {
      content: url("../img/icon-feature-gift.svg");
      top: 29px;
      left: 3px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 28px;
    width: 50%;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 40%;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item:nth-child(2) {
    order: 2;
  }

  .advantages__item:nth-child(3) {
    order: 4;
  }

  .advantages__item:nth-child(4) {
    order: 1;
  }

  .advantages__item:nth-child(5) {
    order: 3;
  }

  .advantages__item:nth-child(6) {
    order: 5;
  }
}
