.articles {
  padding-top: 70px;
  background-color: $general-title-bgcolor;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
  }
}

.articles__other {
  display: none;
  font-size: 15px;
  line-height: 24px;
  text-align: end;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
