.catalog {
  padding-top: 30px;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog__item {
  display: flex;
  flex-direction: column;
}

.catalog__item:not(:last-child) {
  margin-bottom: 30px;
}
