.catalog-item__wrapper {
  display: flex;
  flex-direction: column;
  padding: 27px 28px;
  border: 1px solid $box-shadow-nav;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.catalog-item__title {
  display: inline-block;
  margin-bottom: 6px;
}

.catalog-item__descr {
  margin: 0;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.catalog-item__img {
  display: block;
}

.catalog-item__price {
  margin: 0;
  font-size: 15px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.catalog-item__top {
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

}

.catalog-item__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  border-top: 1px solid $box-shadow-nav;

  @media (min-width: $tablet-width) {
    margin-top: auto;
  }
}
