.catalog-item__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 26px;
  padding-right: 27px;
  padding-bottom: 23px;
  padding-left: 27px;
  border: $border-nav;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-right: 31px;
    padding-bottom: 18px;
    padding-left: 31px;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    padding-right: 27px;
    padding-left: 27px;
  }
}

.catalog-item__title {
  display: inline-block;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.catalog-item__descr {
  margin: 0;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.catalog-item__img {
  display: block;
}

.catalog-item__price {
  margin: 0;
  font-size: 15px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.catalog-item__top {
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 13px;
  }
}

.catalog-item__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  border-top: $border-nav;

  @media (min-width: $tablet-width) {
    margin-top: auto;
  }
}
