.checkbox {
  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    justify-content: normal;
  }
}

.checkbox__item {
  &:not(:last-child) {
    margin-bottom: 43px;

    @media (min-width: $tablet-width) {
      margin-bottom: 58px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 38%;
  }

  @media (min-width: $desktop-width) {
    width: 20%;


    &:not(:nth-child(3n+3)) {
      margin-right: 129px;
    }
  }
}
