.contacts-address {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 84px;
  }
}

.contacts-address__wrapper {
  display: flex;
}

.contacts-address__wrapper:first-child {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-right: 50px;
  }
}

.contacts-address__title {
  flex-basis: 76px;

  @media (min-width: $tablet-width) {
    margin-right: 23px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    overflow-wrap: anywhere;
  }
}

.contacts-address__description {
  margin: 0;

  @media (min-width: $desktop-width) {
    width: $contacts-elements-width;
  }
}

.contacts-address__link {
  color: $text-color;
  border-bottom: 1px solid $bgcolor-articles-lighter;
  transition: $transition-color;

  @media (min-width: $tablet-width) {
    padding-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 8px;
    overflow-wrap: anywhere;
  }

  &:hover,
  &:focus {
    color: $bgcolor-toys-darker-hover;
  }

  &:active {
    border-bottom: 1px solid rgba($bgcolor-toys-darker-hover, 0.1);
  }
}

.contacts-address__info {
  padding-left: 5px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    width: max-content;
  }

  @media (min-width: $desktop-width) {
    padding-left: 2px;
    width: $contacts-elements-width;
  }
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    margin-left: $content-desktop-ml;
  }
}
