.contacts-address {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 84px;
  }
}

.contacts-address__wrapper {
  display: flex;
}

.contacts-address__wrapper:first-child {
  margin-bottom: 30px;
}

.contacts-address__title {
  flex-basis: 76px;

  @media (min-width: $tablet-width) {
    margin-right: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.contacts-address__descr {
  margin: 0;
}

.contacts-address__link {
  color: $text-color;
  border-bottom: 1px solid $articles-menu-decor;
}

.contacts-address__info {
  font-style: normal;

  @media (min-width: $tablet-width) {
    width: max-content;
  }
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    margin-left: 174px;
  }
}
