.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 44px;
  padding-bottom: 39px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 38px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-top: 173px;
    padding-bottom: 105px;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 18px;
  color: $page-title-color;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 49px;
    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";
      position: absolute;
      right: 3px;
      bottom: -8px;
      width: 47px;
      height: 81px;

      @include bg-image("icon-flag.svg");

      @media (min-width: $desktop-width) {
        left: -111px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
    width: 291px;
    font-size: 53px;
    line-height: 57px;
    overflow-wrap: anywhere;
  }
}

.contacts__address {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.contacts__map-wrapper {
  @media (max-width: $desktop-width - 1) {
    width: auto;
    margin: 0;
  }
}

.contacts__map {
  height: 454px;
  margin-bottom: 42px;

  @include bg-image("map-mobile@1x.jpg");
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
    background-image: url("../img/map-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 0;
    bottom: -109px;
    width: 527px;
    height: 457px;
    background-image: url("../img/map-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}

.contacts__button {
  @media (min-width: $tablet-width) {
    width: max-content;
    margin: 0 auto;
    padding-right: 39px;
    padding-left: 39px;
  }

  @media (min-width: $desktop-width) {
    max-width: $contacts-elements-width;
  }
}

.contacts__container {
  @media (min-width: $desktop-width) {
    width: 40%;
  }
}
