.main-nav {
  @media (max-width: $tablet-width - 1) {
    width: auto;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
  }

  &--closed {
    .main-nav__toggle {
      height: 14px;

      &::before {
        box-shadow: 0 6px 0 0 $page-title-color, 0 12px 0 0 $page-title-color;
      }
    }

    @media (max-width: $tablet-width - 1) {
      .main-nav__list {
        display: none;
      }
    }
  }

  &--opened {
    .main-nav__toggle {
      height: 20px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 9px;
        left: -1px;
        width: 23px;
        height: 2px;
        background-color: $page-title-color;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &--nojs {
    .main-nav__toggle {
      display: none;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  background-color: $bgcolor-white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: $page-title-color;
    transition: all 0.3s;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  &--third {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--first {
      position: absolute;
      top: calc(100% + 20px);
      display: flex;
      z-index: 1;
    }

    &--second {
      display: flex;
    }
  }

  @media (min-width: $desktop-width) {
    &--first {
      position: static;
    }

    &--second {
      order: 1;
    }

    &--third {
      position: absolute;
      top: 122%;
      display: flex;
      z-index: 1;
    }
  }
}

.main-nav__item {
  position: relative;
  box-shadow: inset 0 1px 0 $box-shadow-nav;

  @media (min-width: $tablet-width) {
    box-shadow: inset 1px 0 0 $box-shadow-nav;

    &--search {
      width: 83px;
    }

    &--cart {
      width: 265px;
      text-align: end;
    }

    &--first {
      box-shadow: none;
    }

    &--first:not(:last-child) {
      margin-right: 37px;
      box-shadow: none;
    }
  }

  @media (min-width: $desktop-width) {
    &--first {
      width: 187px;
      box-shadow: inset 1px 0 0 $box-shadow-nav;
    }

    &--first:not(:first-child) {
      text-align: end;
    }

    &--first:not(:last-child) {
      margin-right: 0;
    }

    &--third {
      box-shadow: none;
    }

    &--third:not(:last-child) {
      margin-right: 62px;
    }
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding-top: 28px;
  padding-bottom: 27px;
  padding-left: 76px;

  @media (min-width: $tablet-width) {
    padding-top: 32px;
    padding-bottom: 33px;

    &--first {
      padding: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--first {
      padding-top: 32px;
      padding-bottom: 33px;
    }

    &--third {
      padding: 0;
    }
  }
}

.main-nav__links {
  &:hover,
  &:focus {
    color: rgba($page-title-color, 0.6);

    .main-nav__link-icon {
      fill: $bgcolor-articles-lighter;
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    pointer-events: none;
  }
}

.main-nav__link-icon {
  position: absolute;

  &--search {
    top: 31px;
    left: 34px;

    @media (min-width: $tablet-width) {
      top: 35px;
    }

    @media (min-width: $desktop-width) {
      left: 30px;
    }
  }

  &--cart {
    top: 30px;
    left: 32px;

    @media (min-width: $tablet-width) {
      top: 33px;
    }

    @media (min-width: $desktop-width) {
      left: 29px;
    }
  }
}

.main-nav__top {
  display: flex;
  padding-top: 21px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 75px;
    order: 1;
  }
}

.main-nav__logo {
  margin: 0 auto;

  @include hover-focus;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-nav__img {
  vertical-align: middle;

  @media (min-width: $tablet-width) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}
