.modal-cart {
  display: flex;
  flex-direction: column;
  padding-top: 29px;
  padding-bottom: 46px;
}

.modal-cart__title {
  width: 163px;
  margin-bottom: 14px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 29px;
    line-height: 57px;
  }
}

.modal-cart__description {
  margin: 0;
  margin-bottom: 21px;
  line-height: 30px;
  text-align: center;
}

.modal-cart__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.modal-cart__button {
  line-height: 16px;
  color: $bgcolor-white;
  background-color: $bgcolor-articles-lighter;
  border: none;
}

.modal-cart__item {
  position: relative;
  width: 82px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    .modal-cart__input:not(:checked) + label {
      &::before {
        opacity: 0.3;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 112px;
  }
}

.modal-cart__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
}

.modal-cart__input + label {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 82px;
    height: 52px;
    border: 2px solid $text-color;
    opacity: 0.1;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      width: 112px;
    }
  }
}

.modal-cart__input:checked + label {
  &::before {
    border: 2px solid $bgcolor-articles-lighter;
    opacity: 1;
  }
}
