.modal-cart {
  display: flex;
  flex-direction: column;
  padding-top: 29px;
  padding-bottom: 46px;
}

.modal-cart__title {
  width: 163px;
  margin-bottom: 14px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 381px;
    font-size: 30px;
    line-height: 57px;
  }
}

.modal-cart__descr {
  margin: 0;
  margin-bottom: 21px;
  line-height: 30px;
  text-align: center;
}

.modal-cart__list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 31px;
}

.modal-cart__button {
  line-height: 16px;
  color: $bgcolor-white;
  background-color: $articles-menu-decor;
  border: none;
}
