.page-title {
  margin: 0 auto;
  padding-top: 73px;
  padding-bottom: 73px;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: $page-title-color;
  text-align: center;
  background-color: $general-title-bgcolor;
}
