.page {
  height: 100%;
}

.page__body {
  min-width: $mobile-width;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: $text-color;
}
