.page {
  height: 100%;
}

.page__body {
  display: grid;
  min-height: 100%;
  margin: 0;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}
