.page-footer {
  padding-top: 25px;
  padding-bottom: 18px;
  background-color: $general-title-bgcolor;

  @media (min-width: $tablet-width) {
    padding-top: 51px;
    padding-bottom: 50px;
  }
}

.page-footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin-bottom: 27px;
  margin-left: 58px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 121px;
  }
}

.page-footer__copyright {
  display: flex;
  padding-top: 22px;
  padding-right: 39px;
  padding-left: 39px;
  align-items: center;
  box-shadow: inset 0 1px 0 $box-shadow-footer;

  @media (min-width: $tablet-width) {
    padding: 0;
    align-items: end;
    box-shadow: none;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
  }
}

.page-footer__logo {
  display: none;

  &--active {
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: 102px;
    margin-right: 122px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 197px;
  }
}

.page-footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__link {
  &:hover,
  &:focus {
    .page-footer__link-svg {
      fill: $bgcolor-toys-darker-hover;
    }
  }

  &:active {
    .page-footer__link-svg {
      opacity: 0.3;
    }
  }
}

.page-footer__link-svg {
  transition: $transition-fill;

  &--academy {
    fill: $bgcolor-articles-lighter;
  }
}
