.page-header {
  position: relative;
  padding-top: 22px;
  display: flex;
  flex-direction: column;
  background-color: $bgcolor-white;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.page-header__logo {
  margin-bottom: 22px;
  align-self: center;
}
