.preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
  padding-top: 22px;
  padding-bottom: 33px;
  border: $border-nav;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
    padding-top: 0;
    padding-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    width: 370px;
    margin-left: auto;
    margin-bottom: 104px;
    padding-top: 96px;
    padding-right: 46px;
    padding-bottom: 59px;
    padding-left: 80px;
  }
}

.preview__title {
  position: relative;
  margin: 0;
  margin-bottom: 27px;
  padding-left: 90px;

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 33px;
    width: 32px;
    height: 32px;

    @include bg-image("icon-video.svg");

    @media (min-width: $tablet-width) {
      top: -7px;
      left: 41px;
    }

    @media (min-width: $desktop-width) {
      top: -55px;
      left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    padding-left: 105px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 195px;
    margin-bottom: 27px;
    padding-left: 0;
  }
}

.preview__video-wrapper {
  position: relative;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    order: -1;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.preview__video {
  display: block;
  width: 100%;
}

.preview__video-img {
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.preview__video-play {
  position: absolute;
  top: 25%;
  left: 31%;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 41%;
    left: 43%;
  }

  @media (min-width: $desktop-width) {
    transition: 0.6s;

    &:hover {
      transition: 0.6s;
      transform: scale(1.2);
    }

    &:active {
      opacity: 0.9;
      transform: scale(0.8);
    }
  }
}

.preview__descr {
  margin: 0;
  margin-bottom: 41px;
  padding-left: 33px;
  font-size: 13px;

  @media (min-width: $tablet-width) {
    padding-right: 30px;
    padding-left: 40px;
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
    padding-right: 0;
    padding-left: 0;
  }
}

.preview__button {
  margin-right: 33px;
  margin-left: 33px;

  @media (min-width: $tablet-width) {
    margin-right: 41px;
    margin-left: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 10px;
    margin-left: 0;
  }
}
