.preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
  padding-top: 22px;
  padding-bottom: 33px;
  border: $border-nav;

  @media (min-width: $desktop-width) {
    width: 367px;
    margin-left: auto;
    padding-top: 96px;
    padding-right: 46px;
    padding-bottom: 60px;
    padding-left: 80px;
  }
}

.preview__title {
  position: relative;
  margin: 0;
  margin-bottom: 27px;
  padding-left: 90px;

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 33px;
    width: 32px;
    height: 32px;

    @include bg-image("icon-video.svg");
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.preview__video {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    order: -1;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 0;
  }
}

.preview__descr {
  margin: 0;
  margin-bottom: 41px;
  padding-left: 34px;
  font-size: 13px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.preview__button {
  margin-right: 33px;
  margin-left: 33px;

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-left: 0;
  }
}
