.promo-parameters__wrapper {
  display: flex;
  padding-top: 9px;
  padding-bottom: 10px;
  border-bottom: $border-nav;

  @media (min-width: $desktop-width) {
    padding-top: 6px;
    padding-bottom: 13px;
  }
}

.promo-parameters__item {
  display: inline-block;
  vertical-align: bottom;
}

.promo-parameters__title {
  flex-basis: 97px;
}

.promo-parameters__descr {
  margin: 0;
}
