.promo {
  position: relative;
  padding-top: 32px;
  padding-bottom: 36px;

  &::after {
    @include zigzag;
  }

  @media (min-width: $tablet-width) {
    padding-top: 53px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    padding-bottom: 73px;
  }
}

.promo__title {
  margin: 0;
  padding-bottom: 3px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.promo__subtitle {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $bgcolor-articles-lighter;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: min-content;
    padding-right: 28px;
    text-align: center;
    align-self: center;
    line-height: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 57px;
    padding-bottom: 6px;
  }
}

.promo__descr {
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
  }
}

.promo__parameters {
  margin: 0;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 109px;
  }
}

.promo__img {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 100px;
    right: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    width: 525px;
    z-index: -1;
  }
}

.promo__price {
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    font-size: 20px;
  }
}

.promo__title-wrapper {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 62px;
    padding-left: 46px;
  }
}


.promo__content-wrapper {
  @media (min-width: $tablet-width) {
    width: 292px;
  }
}
