.reviews-item__quote {
  margin: 0;
}

.reviews-item__descr {
  margin: 0;
  margin-bottom: 33px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
  }
}

.reviews-item__author {
  margin-bottom: 30px;
}

.reviews-item__name {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  color: $page-title-color;
}

.reviews-item__nickname {
  font-style: normal;
  font-size: 17px;
}
