.reviews {
  position: relative;
  padding-bottom: 45px;

  &::after {
    @include zigzag;

    @media (min-width: $tablet-width) {
      bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      bottom: -23px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 83px;
    padding-bottom: 132px;

    @include bg-image("review@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 79px;
    background-position-x: 50px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.reviews__controls {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    bottom: -24px;
  }
}

.reviews__button {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: -4px;
    right: 0;
    padding-right: 38px;
    padding-left: 38px;
  }

  @media (min-width: $desktop-width) {
    top: 1px;
  }
}
