.reviews {
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 54px;
    padding-bottom: 132px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 48px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.reviews__controls {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    bottom: 140px;
  }
}

.reviews__button {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 50px;
    right: -1px;
    padding-right: 38px;
    padding-left: 38px;
  }
}
