.slider__controls {
  display: flex;
}

.slider__control {
  position: relative;
  width: 50%;
  height: 52px;
  background-color: $bgcolor-white;
  border: $border-nav;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 26px;
    background-color: transparent;
    border: none;
  }

  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 26px;
    left: 37px;
    top: 12px;

    @media (min-width: $tablet-width) {
      top: 0;
      left: 0;
    }
  }

  &--prev {
    border-right: none;

    &::after {
      background-image: url("../img/icon-left-arrow.svg");
    }

    @media (min-width: $tablet-width) {
      margin-right: 37px;
    }
  }

  &--next {
    &::after {
      background-image: url("../img/icon-right-arrow.svg");
    }

    @media (min-width: $tablet-width) {
      margin-right: 19px;
    }
  }
}
