@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.button {
  padding: 0;
  border: none;
  cursor: pointer; }

.list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.fieldset {
  margin: 0;
  padding: 0;
  border: none; }

.container {
  margin: 0 auto;
  width: 260px; }
  @media (min-width: 768px) {
    .container {
      position: relative;
      width: 87%; } }
  @media (min-width: 1150px) {
    .container {
      width: 1050px; } }

.modal {
  position: fixed;
  top: 40px;
  right: 0;
  bottom: auto;
  left: 0;
  margin: auto;
  display: none;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  border: 1px solid #c6c6c6;
  z-index: 1; }
  .modal--active {
    display: block; }
  @media (min-width: 768px) {
    .modal {
      width: 566px; }
      .modal .container {
        width: 350px; } }

.page {
  height: 100%; }

.page__body {
  display: grid;
  min-height: 100%;
  margin: 0;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #444444; }
  @media (min-width: 768px) {
    .page__body {
      font-size: 17px;
      line-height: 30px; } }

@media (max-width: 767px) {
  .main-nav {
    width: auto;
    margin: 0; } }

@media (min-width: 768px) {
  .main-nav {
    position: relative;
    display: flex; } }

.main-nav--closed .main-nav__toggle {
  height: 14px; }
  .main-nav--closed .main-nav__toggle::before {
    box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000; }

@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none; } }

.main-nav--opened .main-nav__toggle {
  height: 20px; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -1px;
    width: 23px;
    height: 2px;
    background-color: #000000; }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg); }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg); }

.main-nav--nojs .main-nav__toggle {
  display: none; }

.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  background-color: #ffffff; }
  .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #000000; }
  @media (min-width: 768px) {
    .main-nav__toggle {
      display: none; } }

.main-nav__list--third {
  display: none; }

@media (min-width: 768px) {
  .main-nav__list--first {
    position: absolute;
    top: calc(100% + 20px);
    display: flex;
    z-index: 1; }
  .main-nav__list--second {
    display: flex; } }

@media (min-width: 1150px) {
  .main-nav__list--first {
    position: static; }
  .main-nav__list--second {
    order: 1; }
  .main-nav__list--third {
    position: absolute;
    top: 122%;
    display: flex;
    z-index: 1; } }

.main-nav__item {
  position: relative;
  box-shadow: inset 0 1px 0 #ececec; }
  @media (min-width: 768px) {
    .main-nav__item {
      box-shadow: inset 1px 0 0 #ececec; }
      .main-nav__item--search {
        width: 83px; }
      .main-nav__item--cart {
        width: 265px;
        text-align: end; }
      .main-nav__item--first {
        box-shadow: none; }
      .main-nav__item--first:not(:last-child) {
        margin-right: 37px;
        box-shadow: none; } }
  @media (min-width: 1150px) {
    .main-nav__item--first {
      width: 187px;
      box-shadow: inset 1px 0 0 #ececec; }
    .main-nav__item--first:not(:first-child) {
      text-align: end; }
    .main-nav__item--first:not(:last-child) {
      margin-right: 0; }
    .main-nav__item--third {
      box-shadow: none; }
    .main-nav__item--third:not(:last-child) {
      margin-right: 62px; } }

.main-nav__link {
  position: relative;
  display: block;
  padding-top: 28px;
  padding-bottom: 27px;
  padding-left: 76px; }
  @media (min-width: 768px) {
    .main-nav__link {
      padding-top: 32px;
      padding-bottom: 33px; }
      .main-nav__link--first {
        padding: 0; } }
  @media (min-width: 1150px) {
    .main-nav__link--first {
      padding-top: 32px;
      padding-bottom: 33px; }
    .main-nav__link--third {
      padding: 0; } }

.main-nav__links:hover, .main-nav__links:focus {
  color: rgba(0, 0, 0, 0.6); }
  .main-nav__links:hover .main-nav__link-icon, .main-nav__links:focus .main-nav__link-icon {
    fill: #63d1bb;
    opacity: 1; }

.main-nav__links:active {
  opacity: 0.3; }

.main-nav__links--active {
  pointer-events: none; }

.main-nav__link-icon {
  position: absolute; }
  .main-nav__link-icon--search {
    top: 31px;
    left: 34px; }
    @media (min-width: 768px) {
      .main-nav__link-icon--search {
        top: 35px; } }
    @media (min-width: 1150px) {
      .main-nav__link-icon--search {
        left: 30px; } }
  .main-nav__link-icon--cart {
    top: 30px;
    left: 32px; }
    @media (min-width: 768px) {
      .main-nav__link-icon--cart {
        top: 33px; } }
    @media (min-width: 1150px) {
      .main-nav__link-icon--cart {
        left: 29px; } }

.main-nav__top {
  display: flex;
  padding-top: 21px;
  padding-bottom: 23px; }
  @media (min-width: 768px) {
    .main-nav__top {
      flex-grow: 1;
      padding-top: 20px;
      padding-bottom: 20px; } }
  @media (min-width: 1150px) {
    .main-nav__top {
      width: 270px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 75px;
      order: 1; } }

.main-nav__logo {
  margin: 0 auto; }
  .main-nav__logo:hover, .main-nav__logo:focus {
    opacity: 0.6; }
  .main-nav__logo:active {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .main-nav__logo {
      margin: 0; } }

.main-nav__img {
  vertical-align: middle; }
  @media (min-width: 768px) {
    .main-nav__img {
      width: 113px;
      height: 46px; } }
  @media (min-width: 1150px) {
    .main-nav__img {
      width: 149px;
      height: 72px; } }

.page-footer {
  padding-top: 25px;
  padding-bottom: 18px;
  background-color: #f1f1f1; }
  @media (min-width: 768px) {
    .page-footer {
      padding-top: 51px;
      padding-bottom: 50px; } }

.page-footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin-bottom: 21px;
  margin-left: 58px;
  align-items: center; }
  @media (min-width: 768px) {
    .page-footer__social {
      margin: 0;
      margin-right: 121px; } }
  @media (min-width: 1150px) {
    .page-footer__social {
      align-items: flex-end; } }

.page-footer__copyright {
  display: flex;
  padding-top: 22px;
  padding-right: 39px;
  padding-left: 39px;
  align-items: center;
  box-shadow: inset 0 1px 0 #e5e5e5; }
  @media (min-width: 768px) {
    .page-footer__copyright {
      padding: 0;
      align-items: end;
      box-shadow: none; } }
  @media (min-width: 1150px) {
    .page-footer__copyright {
      align-items: center; } }

.page-footer__logo {
  display: none; }
  @media (min-width: 768px) {
    .page-footer__logo {
      display: block;
      width: 102px;
      margin-right: 122px; } }
  @media (min-width: 1150px) {
    .page-footer__logo {
      margin-right: 197px; } }

@media (min-width: 768px) {
  .page-footer__container {
    display: flex;
    justify-content: space-between; } }

.page-footer__link:hover .page-footer__link-svg, .page-footer__link:focus .page-footer__link-svg {
  fill: #46c1ae; }

.page-footer__link:active .page-footer__link-svg {
  opacity: 0.3; }

.page-footer__link-svg--academy {
  fill: #63d1bb; }

.copyright__text {
  margin: 0;
  margin-right: 27px;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  color: #000000; }
  @media (min-width: 768px) {
    .copyright__text {
      padding-top: 5px; } }

.copyright__link {
  display: flex; }

.page-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center; }
  @media (min-width: 768px) {
    .page-title {
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1150px) {
    .page-title {
      font-size: 53px;
      line-height: 57px; } }

.page-header {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec; }

.articles {
  padding-top: 70px;
  background-color: #f1f1f1; }
  @media (min-width: 768px) {
    .articles {
      position: relative;
      padding-top: 18px; }
      .articles::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        background-image: url("../img/bg-zigzag-fill.svg");
        height: 24px;
        bottom: -13px;
        background-size: 768px;
        background-repeat: repeat-x; } }
  @media (min-width: 1150px) {
    .articles::after {
      height: 34px;
      bottom: -17px;
      background-size: auto 37px;
      background-position-x: 12px; } }

.articles__other {
  display: none;
  font-size: 15px;
  line-height: 24px;
  text-align: end; }
  @media (min-width: 768px) {
    .articles__other {
      display: block; } }

.articles-main {
  background-image: url("../img//hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 368px;
  background-color: #fafafa; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .articles-main {
      background-image: url("../img/hero-mobile@2x.jpg"); } }
  @media (min-width: 768px) {
    .articles-main {
      background-image: url("../img/hero-tablet@1x.jpg");
      background-position: center;
      background-size: auto; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .articles-main {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: auto 739px; } }
  @media (min-width: 1150px) {
    .articles-main {
      background-image: url("../img/hero-desktop@1x.jpg"); } }
  @media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1150px) and (min-resolution: 2dppx) {
    .articles-main {
      background-image: url("../img/hero-desktop@2x.jpg"); } }

.articles-main__title {
  padding-bottom: 120px; }
  @media (min-width: 768px) {
    .articles-main__title {
      padding-top: 110px;
      padding-bottom: 372px; } }
  @media (min-width: 1150px) {
    .articles-main__title {
      padding-top: 113px;
      padding-bottom: 356px; } }

.articles-main__list {
  display: flex;
  flex-direction: column; }
  @media (max-width: 767px) {
    .articles-main__list {
      width: auto; } }
  @media (min-width: 768px) {
    .articles-main__list {
      flex-direction: row; } }

.articles-main__item {
  position: relative;
  flex-grow: 1; }
  @media (min-width: 768px) {
    .articles-main__item {
      width: 50%; } }
  .articles-main__item--decor {
    background-color: #63d1bb; }
    .articles-main__item--decor:hover {
      background-color: #59d5bc; }
      .articles-main__item--decor:hover::before {
        background-color: #59d5bc; }
  .articles-main__item--toys {
    background-color: #56c3b2; }
    .articles-main__item--toys:hover {
      background-color: #46c1ae; }
      .articles-main__item--toys:hover::before {
        background-color: #46c1ae; }

.articles-main__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 31px;
  padding-left: 30px;
  font-weight: bold;
  font-size: 19px;
  color: #ffffff;
  background-color: inherit;
  transition: transform 0.3s; }
  .articles-main__link::after {
    position: absolute;
    opacity: 0.2; }
  .articles-main__link:hover, .articles-main__link:focus {
    transform: translateY(-5px); }
    .articles-main__link:hover::after, .articles-main__link:focus::after {
      opacity: 0.3; }
    .articles-main__link:hover::before, .articles-main__link:focus::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -4px;
      left: 0;
      height: 5px; }
  .articles-main__link:active::after {
    opacity: 0.1; }
  .articles-main__link--decor::after {
    content: url("../img/icon-interior.svg");
    top: 24px;
    right: 36px; }
    @media (min-width: 768px) {
      .articles-main__link--decor::after {
        top: 30px; } }
  .articles-main__link--toys::after {
    content: url("../img/icon-toy.svg");
    top: 22px;
    right: 28px; }
    @media (min-width: 768px) {
      .articles-main__link--toys::after {
        top: 31px;
        right: 34px; } }
  .articles-main__link span {
    display: inline-block;
    width: 130px; }
  @media (min-width: 768px) {
    .articles-main__link {
      padding-bottom: 34px;
      padding-left: 36px;
      font-size: 20px;
      line-height: 30px; } }

.articles-subpage {
  padding-bottom: 73px; }
  @media (min-width: 1150px) {
    .articles-subpage {
      padding-bottom: 97px; }
      .articles-subpage::after {
        background-size: auto;
        background-position-x: 0; } }

@media (min-width: 768px) {
  .articles-subpage__title {
    padding-top: 57px; } }

.promo {
  position: relative;
  padding-top: 32px;
  padding-bottom: 36px; }
  .promo::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-image: url("../img/bg-zigzag-line.svg");
    height: 7px;
    bottom: -7px;
    background-size: 320px;
    background-repeat: repeat-x; }
    @media (min-width: 768px) {
      .promo::after {
        height: 17px;
        bottom: -17px;
        background-size: 768px; } }
    @media (min-width: 1150px) {
      .promo::after {
        width: 1050px;
        height: 22px;
        bottom: -23px;
        margin: 0 auto;
        background-size: 1050px; } }
  @media (min-width: 768px) {
    .promo {
      padding-top: 53px;
      padding-bottom: 52px; } }
  @media (min-width: 1150px) {
    .promo {
      padding-top: 71px;
      padding-bottom: 73px; } }

.promo__title {
  margin: 0;
  padding-bottom: 3px; }
  @media (min-width: 768px) {
    .promo__title {
      padding: 0; } }

.promo__subtitle {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .promo__subtitle {
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      padding-right: 28px;
      text-align: center;
      align-self: center;
      line-height: 17px; } }
  @media (min-width: 1150px) {
    .promo__subtitle {
      padding-right: 57px;
      padding-bottom: 6px; } }

.promo__descr {
  margin: 0;
  margin-bottom: 19px; }
  @media (min-width: 768px) {
    .promo__descr {
      margin-bottom: 40px; } }
  @media (min-width: 1150px) {
    .promo__descr {
      margin-bottom: 53px; } }

.promo__parameters {
  margin: 0;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 20px; }
  @media (min-width: 768px) {
    .promo__parameters {
      margin-bottom: 58px; } }
  @media (min-width: 1150px) {
    .promo__parameters {
      margin-bottom: 109px; } }

.promo__img {
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .promo__img {
      position: absolute;
      top: 100px;
      right: 0;
      margin: 0; } }
  @media (min-width: 1150px) {
    .promo__img {
      top: 0;
      width: 525px;
      z-index: -1; } }

.promo__price {
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px; }
  @media (min-width: 768px) {
    .promo__price {
      margin-bottom: 33px;
      font-size: 20px; } }

.promo__title-wrapper {
  margin-bottom: 19px; }
  @media (min-width: 768px) {
    .promo__title-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 37px; } }
  @media (min-width: 1150px) {
    .promo__title-wrapper {
      flex-direction: row-reverse;
      justify-content: flex-end;
      padding-top: 62px;
      padding-left: 46px; } }

@media (min-width: 768px) {
  .promo__content-wrapper {
    width: 292px; } }

.promo-parameters__wrapper {
  display: flex;
  padding-top: 9px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec; }
  @media (min-width: 1150px) {
    .promo-parameters__wrapper {
      padding-top: 6px;
      padding-bottom: 13px; } }

.promo-parameters__item {
  display: inline-block;
  vertical-align: bottom; }

.promo-parameters__title {
  flex-basis: 97px; }

.promo-parameters__descr {
  margin: 0; }

.site-button {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
  text-align: center;
  text-transform: uppercase; }
  .site-button:hover, .site-button:focus {
    background-image: linear-gradient(0deg, #444444, #444444);
    color: #ffffff; }
  .site-button:active {
    color: rgba(255, 255, 255, 0.3); }
  @media (min-width: 768px) {
    .site-button {
      font-size: 17px; } }

.advantages {
  padding-top: 38px;
  padding-bottom: 57px; }
  @media (min-width: 768px) {
    .advantages {
      padding-top: 73px;
      padding-bottom: 54px; } }
  @media (min-width: 1150px) {
    .advantages {
      padding-top: 91px;
      padding-bottom: 59px; } }

.advantages__title {
  margin: 0; }
  @media (min-width: 768px) {
    .advantages__title {
      margin-bottom: 14px; } }

@media (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap; } }

.advantages__item {
  position: relative;
  padding-top: 83px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #000000; }
  .advantages__item::before {
    position: absolute; }
  .advantages__item--ecologic::before {
    content: url("../img/icon-feature-flower.svg");
    top: 27px;
    left: 8px; }
  .advantages__item--style::before {
    content: url("../img/icon-feature-money.svg");
    top: 28px;
    left: 0; }
  .advantages__item--likes::before {
    content: url("../img/icon-feature-heart.svg");
    top: 33px;
    left: 7px; }
  .advantages__item--handmade::before {
    content: url("../img/icon-feature-ball.svg");
    top: 30px;
    left: 3px; }
  .advantages__item--support::before {
    content: url("../img/icon-feature-rocket.svg");
    top: 31px;
    left: -6px; }
  .advantages__item--package::before {
    content: url("../img/icon-feature-gift.svg");
    top: 29px;
    left: 3px; }
  @media (min-width: 768px) {
    .advantages__item {
      padding-bottom: 28px;
      width: 50%;
      font-size: 20px;
      line-height: 22px; } }
  @media (min-width: 1150px) {
    .advantages__item {
      width: 40%; } }

@media (min-width: 768px) {
  .advantages__item:nth-child(2) {
    order: 2; }
  .advantages__item:nth-child(3) {
    order: 4; }
  .advantages__item:nth-child(4) {
    order: 1; }
  .advantages__item:nth-child(5) {
    order: 3; }
  .advantages__item:nth-child(6) {
    order: 5; } }

.site-title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000; }
  @media (min-width: 768px) {
    .site-title {
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1150px) {
    .site-title {
      font-size: 53px;
      line-height: 57px; } }

.catalog {
  margin-bottom: 30px;
  padding-top: 32px; }
  @media (min-width: 768px) {
    .catalog {
      margin-bottom: 53px;
      padding-top: 80px; } }
  @media (min-width: 1150px) {
    .catalog {
      margin-bottom: 57px;
      padding-top: 127px; } }

.catalog__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  @media (min-width: 1150px) {
    .catalog__list {
      flex-direction: row;
      justify-content: space-between; } }

.catalog__item {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .catalog__item {
      flex-direction: row; } }
  @media (min-width: 1150px) {
    .catalog__item {
      flex-direction: column; } }

.catalog__item:not(:last-child) {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .catalog__item:not(:last-child) {
      margin-bottom: 54px; } }
  @media (min-width: 1150px) {
    .catalog__item:not(:last-child) {
      margin-bottom: 0; } }

.main-links {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000; }
  @media (min-width: 768px) {
    .main-links--search {
      font-size: 0; }
    .main-links--first {
      font-size: 15px; } }
  @media (min-width: 1150px) {
    .main-links--first {
      font-size: inherit; }
    .main-links--third {
      font-size: 15px; } }

.svg-links {
  opacity: 0.2; }

.catalog-item:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }

.catalog-item:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.catalog-item__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 26px;
  padding-right: 27px;
  padding-bottom: 24px;
  padding-left: 27px;
  border: 1px solid #ececec; }
  @media (min-width: 768px) {
    .catalog-item__wrapper {
      padding-top: 25px;
      padding-right: 31px;
      padding-bottom: 18px;
      padding-left: 31px;
      flex-grow: 1; } }
  @media (min-width: 1150px) {
    .catalog-item__wrapper {
      padding-right: 27px;
      padding-left: 27px; } }

.catalog-item__title {
  display: inline-block;
  margin-bottom: 6px; }
  .catalog-item__title:hover, .catalog-item__title:focus {
    opacity: 0.6; }
  .catalog-item__title:active {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .catalog-item__title {
      font-size: 20px; } }

.catalog-item__descr {
  margin: 0;
  font-size: 13px;
  line-height: 30px; }
  @media (min-width: 768px) {
    .catalog-item__descr {
      font-size: 15px; } }

.catalog-item__img {
  display: block; }

.catalog-item__price {
  margin: 0;
  font-size: 15px; }
  @media (min-width: 768px) {
    .catalog-item__price {
      font-size: 17px; } }

.catalog-item__cart:hover svg, .catalog-item__cart:focus svg {
  fill: #63d1bb;
  opacity: 1; }

.catalog-item__cart:active svg {
  opacity: 0.3; }

.catalog-item__top {
  padding-bottom: 17px; }
  @media (min-width: 768px) {
    .catalog-item__top {
      padding-bottom: 0; } }
  @media (min-width: 1150px) {
    .catalog-item__top {
      padding-bottom: 13px; } }

.catalog-item__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  border-top: 1px solid #ececec; }
  @media (min-width: 768px) {
    .catalog-item__bottom {
      margin-top: auto; } }

.reviews {
  position: relative;
  padding-bottom: 45px; }
  .reviews::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-image: url("../img/bg-zigzag-line.svg");
    height: 7px;
    bottom: -7px;
    background-size: 320px;
    background-repeat: repeat-x; }
    @media (min-width: 768px) {
      .reviews::after {
        height: 17px;
        bottom: -17px;
        background-size: 768px; } }
    @media (min-width: 1150px) {
      .reviews::after {
        width: 1050px;
        height: 22px;
        bottom: -23px;
        margin: 0 auto;
        background-size: 1050px; } }
    @media (min-width: 768px) {
      .reviews::after {
        bottom: 30px; } }
    @media (min-width: 1150px) {
      .reviews::after {
        bottom: -23px; } }
  @media (min-width: 768px) {
    .reviews {
      padding-top: 83px;
      padding-bottom: 132px;
      width: 100%;
      background-image: url("../img//review@1x.jpg");
      background-repeat: no-repeat; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .reviews {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px; } }
  @media (min-width: 1150px) {
    .reviews {
      padding-top: 79px;
      background-position-x: 50px;
      width: 1150px; } }

.reviews__title {
  margin: 0;
  margin-bottom: 14px; }
  @media (min-width: 768px) {
    .reviews__title {
      margin-bottom: 38px; } }
  @media (min-width: 1150px) {
    .reviews__title {
      margin-bottom: 35px; } }

.reviews__controls {
  margin-bottom: 38px; }
  @media (min-width: 768px) {
    .reviews__controls {
      position: absolute;
      right: 0;
      bottom: -24px; } }

@media (min-width: 768px) {
  .reviews__button {
    position: absolute;
    top: -4px;
    right: 0;
    padding-right: 38px;
    padding-left: 38px; } }

@media (min-width: 1150px) {
  .reviews__button {
    top: 1px; } }

.reviews-item__quote {
  margin: 0; }

.reviews-item__descr {
  margin: 0;
  margin-bottom: 33px;
  line-height: 30px; }
  @media (min-width: 768px) {
    .reviews-item__descr {
      margin-bottom: 58px; } }
  @media (min-width: 1150px) {
    .reviews-item__descr {
      margin-bottom: 41px; } }

.reviews-item__author {
  margin-bottom: 31px; }

.reviews-item__name {
  display: block;
  margin-bottom: 6px;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  color: #000000; }
  @media (min-width: 768px) {
    .reviews-item__name {
      margin: 0;
      font-size: 18px; } }
  @media (min-width: 1150px) {
    .reviews-item__name {
      font-size: 17px; } }

.reviews-item__nickname {
  font-style: normal;
  font-size: 17px; }

.slider__controls {
  display: flex; }

.slider__control {
  position: relative;
  width: 50%;
  height: 52px;
  background-color: #ffffff;
  border: 1px solid #ececec; }
  @media (min-width: 768px) {
    .slider__control {
      width: 50px;
      height: 26px;
      background-color: transparent;
      border: none; } }
  .slider__control::after {
    position: absolute;
    content: url("../img/icon-left-arrow.svg");
    width: 50px;
    height: 26px;
    left: 37px;
    top: 12px; }
    @media (min-width: 768px) {
      .slider__control::after {
        top: 0;
        left: 0; } }
  .slider__control--prev {
    border-right: none; }
    @media (min-width: 768px) {
      .slider__control--prev {
        margin-right: 37px; } }
  .slider__control--next::after {
    transform: rotate(180deg); }
  @media (min-width: 768px) {
    .slider__control--next {
      margin-right: 19px; } }
  .slider__control:hover, .slider__control:focus {
    opacity: 0.6; }
  .slider__control:active {
    opacity: 0.3; }

.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 44px;
  padding-bottom: 39px;
  line-height: 30px; }
  @media (min-width: 768px) {
    .contacts {
      padding-top: 38px;
      padding-bottom: 57px; } }
  @media (min-width: 1150px) {
    .contacts {
      position: relative;
      padding-top: 173px;
      padding-bottom: 105px; } }

.contacts__title {
  margin: 0;
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 18px;
  color: #000000; }
  @media (min-width: 768px) {
    .contacts__title {
      position: relative;
      margin-bottom: 49px;
      font-size: 43px;
      line-height: 50px; }
      .contacts__title::after {
        content: "";
        position: absolute;
        right: 3px;
        bottom: -8px;
        width: 47px;
        height: 81px;
        background-image: url("../img//icon-flag.svg");
        background-repeat: no-repeat; } }
    @media (min-width: 768px) and (min-width: 1150px) {
      .contacts__title::after {
        left: -111px; } }
  @media (min-width: 1150px) {
    .contacts__title {
      margin-bottom: 35px;
      width: 291px;
      font-size: 53px;
      line-height: 57px;
      overflow-wrap: anywhere; } }

.contacts__address {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .contacts__address {
      flex-direction: row; } }
  @media (min-width: 1150px) {
    .contacts__address {
      flex-direction: column; } }

@media (max-width: 1149px) {
  .contacts__map-wrapper {
    width: auto;
    margin: 0; } }

.contacts__map-inner {
  height: 454px;
  margin-bottom: 42px;
  background-image: url("../img//map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .contacts__map-inner {
      background-image: url("../img/map-mobile@2x.jpg"); } }
  @media (min-width: 768px) {
    .contacts__map-inner {
      margin-bottom: 58px;
      background-image: url("../img/map-tablet@1x.jpg"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .contacts__map-inner {
      background-image: url("../img/map-tablet@2x.jpg"); } }
  @media (min-width: 1150px) {
    .contacts__map-inner {
      position: absolute;
      right: 0;
      bottom: -109px;
      width: 527px;
      height: 457px;
      background-image: url("../img/map-desktop@1x.jpg"); } }
  @media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1150px) and (min-resolution: 2dppx) {
    .contacts__map-inner {
      background-image: url("../img/map-desktop@2x.jpg"); } }

.contacts__map {
  border: none; }
  @media (max-width: 1149px) {
    .contacts__map {
      width: 100%; } }
  @media (min-width: 1150px) {
    .contacts__map {
      width: 527px; } }

@media (min-width: 768px) {
  .contacts__button {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    padding-right: 39px;
    padding-left: 39px; } }

@media (min-width: 1150px) {
  .contacts__button {
    max-width: 266px; } }

@media (min-width: 1150px) {
  .contacts__container {
    width: 40%; } }

.contacts-address {
  margin-bottom: 33px; }
  @media (min-width: 768px) {
    .contacts-address {
      margin-bottom: 49px; } }
  @media (min-width: 1150px) {
    .contacts-address {
      margin-bottom: 84px; } }

.contacts-address__wrapper {
  display: flex; }

.contacts-address__wrapper:first-child {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .contacts-address__wrapper:first-child {
      margin-right: 50px; } }

.contacts-address__title {
  flex-basis: 76px; }
  @media (min-width: 768px) {
    .contacts-address__title {
      margin-right: 23px; } }
  @media (min-width: 1150px) {
    .contacts-address__title {
      margin: 0;
      overflow-wrap: anywhere; } }

.contacts-address__descr {
  margin: 0; }
  @media (min-width: 1150px) {
    .contacts-address__descr {
      width: 266px; } }

.contacts-address__link {
  color: #444444;
  border-bottom: 1px solid #63d1bb; }
  @media (min-width: 768px) {
    .contacts-address__link {
      padding-bottom: 4px; } }
  @media (min-width: 1150px) {
    .contacts-address__link {
      padding-bottom: 8px;
      overflow-wrap: anywhere; } }
  .contacts-address__link:hover, .contacts-address__link:focus {
    color: #46c1ae; }
  .contacts-address__link:active {
    border-bottom: 1px solid rgba(70, 193, 174, 0.1); }

.contacts-address__info {
  padding-left: 5px;
  font-style: normal; }
  @media (min-width: 768px) {
    .contacts-address__info {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content; } }
  @media (min-width: 1150px) {
    .contacts-address__info {
      padding-left: 2px;
      width: 266px; } }

@media (min-width: 1150px) {
  .contacts__wrapper {
    margin-left: 174px; } }

@media (min-width: 1150px) {
  .preview-container:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
  .preview-container:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); } }

.preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
  padding-top: 22px;
  padding-bottom: 33px;
  border: 1px solid #ececec; }
  @media (min-width: 768px) {
    .preview {
      margin-bottom: 64px;
      padding-top: 0;
      padding-bottom: 44px; } }
  @media (min-width: 1150px) {
    .preview {
      width: 370px;
      margin-left: auto;
      margin-bottom: 104px;
      padding-top: 96px;
      padding-right: 46px;
      padding-bottom: 59px;
      padding-left: 80px; } }

.preview__title {
  position: relative;
  margin: 0;
  margin-bottom: 27px;
  padding-left: 90px; }
  .preview__title::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 33px;
    width: 32px;
    height: 32px;
    background-image: url("../img//icon-video.svg");
    background-repeat: no-repeat; }
    @media (min-width: 768px) {
      .preview__title::before {
        top: -7px;
        left: 41px; } }
    @media (min-width: 1150px) {
      .preview__title::before {
        top: -55px;
        left: 0; } }
  @media (min-width: 768px) {
    .preview__title {
      margin-bottom: 25px;
      padding-left: 105px;
      font-size: 20px; } }
  @media (min-width: 1150px) {
    .preview__title {
      width: 195px;
      margin-bottom: 27px;
      padding-left: 0; } }

.preview__video-wrapper {
  position: relative;
  margin-bottom: 29px; }
  @media (min-width: 768px) {
    .preview__video-wrapper {
      margin-bottom: 33px;
      order: -1; } }
  @media (min-width: 1150px) {
    .preview__video-wrapper {
      position: absolute;
      top: 0;
      left: 0; } }

.preview__video {
  display: block;
  width: 100%; }

.preview__video-img {
  cursor: pointer; }
  @media (min-width: 768px) {
    .preview__video-img {
      width: 100%; } }

.preview__video-play {
  position: absolute;
  top: 25%;
  left: 31%;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  @media (min-width: 768px) {
    .preview__video-play {
      top: 41%;
      left: 43%; } }
  @media (min-width: 1150px) {
    .preview__video-play {
      transition: 0.6s; }
      .preview__video-play:hover {
        transition: 0.6s;
        transform: scale(1.2); }
      .preview__video-play:active {
        opacity: 0.9;
        transform: scale(0.8); } }

.preview__descr {
  margin: 0;
  margin-bottom: 41px;
  padding-left: 33px;
  font-size: 13px; }
  @media (min-width: 768px) {
    .preview__descr {
      padding-right: 30px;
      padding-left: 40px;
      font-size: 15px; } }
  @media (min-width: 1150px) {
    .preview__descr {
      margin-bottom: 51px;
      padding-right: 0;
      padding-left: 0; } }

.preview__button {
  margin-right: 33px;
  margin-left: 33px; }
  @media (min-width: 768px) {
    .preview__button {
      margin-right: 41px;
      margin-left: 41px; } }
  @media (min-width: 1150px) {
    .preview__button {
      margin-right: 10px;
      margin-left: 0; } }

.form {
  display: flex;
  flex-direction: column;
  padding-top: 19px;
  padding-bottom: 55px;
  font-size: 17px;
  line-height: 18px; }
  @media (min-width: 768px) {
    .form {
      padding-top: 68px;
      padding-bottom: 50px;
      font-size: 19px; } }
  @media (min-width: 1150px) {
    .form {
      padding-top: 115px; } }

.form__descr {
  margin: 0;
  margin-bottom: 29px;
  font-size: 13px;
  line-height: 24px; }
  @media (min-width: 768px) {
    .form__descr {
      padding-bottom: 17px;
      font-size: 17px;
      line-height: 30px; } }
  @media (min-width: 1150px) {
    .form__descr {
      width: 700px; } }

.form__fieldset {
  border-top: 1px solid #63d1bb; }
  @media (min-width: 768px) {
    .form__fieldset {
      position: relative;
      border-top: none; } }
  .form__fieldset--filter {
    padding-top: 35px;
    padding-bottom: 42px; }
    @media (min-width: 768px) {
      .form__fieldset--filter {
        padding-bottom: 67px; } }
    @media (min-width: 1150px) {
      .form__fieldset--filter {
        padding-left: 80px; } }
  .form__fieldset--color {
    padding-top: 37px;
    padding-bottom: 42px; }
    @media (min-width: 768px) {
      .form__fieldset--color {
        padding-top: 66px;
        padding-bottom: 10px; } }
  .form__fieldset--name {
    padding-top: 29px;
    padding-bottom: 35px; }
    @media (min-width: 768px) {
      .form__fieldset--name {
        padding-top: 67px;
        padding-bottom: 51px; } }
  .form__fieldset--contacts {
    margin-bottom: 33px;
    padding-top: 4px; }
    @media (min-width: 768px) {
      .form__fieldset--contacts {
        margin-bottom: 0; } }
  @media (min-width: 768px) {
    .form__fieldset--phone {
      padding-top: 66px; } }
  @media (min-width: 768px) {
    .form__fieldset--mail {
      padding-top: 43px;
      padding-bottom: 51px; } }
  .form__fieldset--message {
    margin-bottom: 17px;
    padding-top: 23px; }
    @media (min-width: 768px) {
      .form__fieldset--message {
        margin-bottom: 53px;
        padding-top: 69px; } }
    @media (min-width: 1150px) {
      .form__fieldset--message {
        margin-bottom: 49px; } }

.form__list {
  display: flex;
  flex-direction: column;
  padding-left: 60px; }
  @media (min-width: 768px) {
    .form__list {
      padding-left: 247px; } }
  @media (min-width: 1150px) {
    .form__list {
      padding-left: 0; } }

.form__legend {
  min-width: 60px;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .form__legend {
      position: absolute; } }
  @media (min-width: 1150px) {
    .form__legend {
      left: -114px; } }

.form__input {
  background-color: transparent; }

.form__input-svg {
  position: absolute;
  top: 10px;
  right: 5px;
  opacity: 0.3; }
  @media (min-width: 768px) {
    .form__input-svg {
      top: 14px;
      right: 25px; } }
  @media (min-width: 1150px) {
    .form__input-svg {
      right: 6px; } }

.form__input-radio + .form__label::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -59px;
  width: 37px;
  height: 38px;
  border: 2px solid #444444;
  border-radius: 50%; }
  @media (min-width: 768px) {
    .form__input-radio + .form__label::before {
      top: -14px;
      left: -79px;
      width: 51px;
      height: 51px; } }

.form__input:hover + .form__label::before,
.form__input:focus + .form__label::before {
  border: 2px solid #63d1bb; }

.form__input:active + .form__label::before {
  border: 2px solid rgba(0, 0, 0, 0.3); }

.form__input-radio:checked + .form__label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -48px;
  width: 15px;
  height: 15px;
  background-color: #63d1bb;
  border-radius: 50%; }
  @media (min-width: 768px) {
    .form__input-radio:checked + .form__label::after {
      top: 1px;
      left: -63px;
      width: 20px;
      height: 20px; } }

.form__input-checkbox + .form__label::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -60px;
  width: 38px;
  height: 38px;
  border: 2px solid #444444; }
  @media (min-width: 768px) {
    .form__input-checkbox + .form__label::before {
      top: -12px;
      left: -80px;
      width: 53px;
      height: 53px; } }

.form__input-checkbox:checked + .form__label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -52px;
  width: 25px;
  height: 24px;
  background-image: url("../img//icon-tick-mobile.svg");
  background-repeat: no-repeat; }
  @media (min-width: 768px) {
    .form__input-checkbox:checked + .form__label::after {
      left: -69px;
      width: 32px;
      background-image: url("../img//icon-tick.svg");
      background-repeat: no-repeat; } }

.form__label {
  position: relative;
  font-weight: bold;
  color: #000000;
  cursor: pointer; }
  @media (min-width: 768px) {
    .form__label--name {
      margin-right: 26px;
      align-self: center; } }

.form__data {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0; }
  @media (min-width: 768px) {
    .form__data--feedback {
      margin-top: -20px; } }
  .form__data ::-moz-placeholder {
    color: #000000;
    opacity: 0.3; }
  .form__data ::placeholder {
    color: #000000;
    opacity: 0.3; }
  @media (min-width: 768px) {
    .form__data {
      flex-direction: row;
      padding-left: 165px; } }
  @media (min-width: 1150px) {
    .form__data {
      width: 700px;
      padding-left: 0; } }

.form__input-data {
  padding-top: 17px;
  padding-bottom: 16px;
  border: none;
  outline: none;
  box-shadow: inset 0 -2px 0 #000000; }
  .form__input-data:hover, .form__input-data:focus {
    box-shadow: inset 0 -2px 0 #63d1bb; }
    .form__input-data:hover + .form__input-svg, .form__input-data:focus + .form__input-svg {
      fill: #63d1bb;
      opacity: 1; }
  @media (min-width: 768px) {
    .form__input-data {
      padding-left: 18px;
      flex-grow: 1; } }

@media (min-width: 768px) {
  .form__name {
    margin-top: -19px;
    margin-bottom: 22px; } }

.form__data-name:not(:last-child) {
  margin-bottom: 21px; }

@media (min-width: 768px) {
  .form__data-name {
    padding-left: 166px; } }

@media (min-width: 1150px) {
  .form__data-name {
    padding-left: 0; } }

.form__textarea {
  width: 100%;
  height: 142px;
  padding: 16px 15px;
  line-height: 18px;
  font-size: 18px;
  outline: none;
  border: 2px solid #444444; }
  .form__textarea:hover, .form__textarea:focus {
    border: 2px solid #63d1bb; }
  @media (min-width: 768px) {
    .form__textarea {
      font-size: 20px; } }

.form__note {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 16px; }
  @media (min-width: 768px) {
    .form__note {
      margin-bottom: 0;
      align-self: center;
      font-size: 17px;
      line-height: 30px; } }
  @media (min-width: 1150px) {
    .form__note {
      padding-right: 50px; } }

.form__button {
  width: 100%; }
  @media (min-width: 768px) {
    .form__button {
      width: 230px; } }

@media (min-width: 768px) {
  .form__bottom-inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; } }

@media (min-width: 768px) {
  .form__fieldset-wrapper {
    background-color: #f1f1f1; } }

@media (min-width: 1150px) {
  .form__container {
    padding-right: 125px;
    padding-left: 175px; } }

.radiolist__item:not(:last-child) {
  margin-bottom: 24px; }
  @media (min-width: 768px) {
    .radiolist__item:not(:last-child) {
      margin-bottom: 56px; } }

@media (min-width: 768px) {
  .checkbox {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; } }

@media (min-width: 1150px) {
  .checkbox {
    justify-content: normal; } }

.checkbox__item:not(:last-child) {
  margin-bottom: 43px; }
  @media (min-width: 768px) {
    .checkbox__item:not(:last-child) {
      margin-bottom: 58px; } }

@media (min-width: 768px) {
  .checkbox__item {
    width: 38%; } }

@media (min-width: 1150px) {
  .checkbox__item {
    width: 20%; }
    .checkbox__item:not(:nth-child(3n+3)) {
      margin-right: 129px; } }

.modal-cart {
  display: flex;
  flex-direction: column;
  padding-top: 29px;
  padding-bottom: 46px; }

.modal-cart__title {
  width: 163px;
  margin-bottom: 14px;
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .modal-cart__title {
      width: 100%;
      font-size: 29px;
      line-height: 57px; } }

.modal-cart__descr {
  margin: 0;
  margin-bottom: 21px;
  line-height: 30px;
  text-align: center; }

.modal-cart__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px; }

.modal-cart__button {
  line-height: 16px;
  color: #ffffff;
  background-color: #63d1bb;
  border: none; }

.modal-cart__item {
  position: relative;
  width: 82px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .modal-cart__item:hover .modal-cart__input:not(:checked) + label::before {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .modal-cart__item {
      width: 112px; } }

.modal-cart__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px; }

.modal-cart__input + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 82px;
  height: 52px;
  border: 2px solid #444444;
  opacity: 0.1;
  cursor: pointer; }
  @media (min-width: 768px) {
    .modal-cart__input + label::before {
      width: 112px; } }

.modal-cart__input:checked + label::before {
  border: 2px solid #63d1bb;
  opacity: 1; }

@media (min-width: 1150px) {
  .content-wrapper {
    margin-left: 174px; } }

/*# sourceMappingURL=style.css.map */
