@mixin bg-image($img) {
  background-image: url("#{$img-path}/#{$img}");
  background-repeat: no-repeat;
}

@mixin zigzag {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background-image: url("../img/bg-zigzag-line.svg");
  height: 7px;
  bottom: -7px;
  background-size: $mobile-width-only;
  background-repeat: repeat-x;

  @media (min-width: $tablet-width) {
    height: 17px;
    bottom: -17px;
    background-size: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    height: 22px;
    bottom: -23px;
    margin: 0 auto;
    background-size: 1050px;
  }
}

@mixin hover-focus {
  transition: $transition-opacity;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@mixin catalog-hover {
  transition: $transition-shadow;

  &:hover {
    box-shadow: 0 6px 10px rgba($page-title-color, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba($page-title-color, 0.1);
  }
}
