$bgcolor-white: #ffffff;
$gamburger-icon-color: #231f20;
$page-title-color:#000000;
$general-title-bgcolor:#f1f1f1;
$bgcolor-articles-lighter:#63d1bb;
$bgcolor-toys-darker:#56c3b2;
$text-color: #444444;
$mobile-width: 320px;
$box-shadow-nav: #ececec;
$box-shadow-footer: #e5e5e5;
