$bgcolor-white: #FFFFFF;
$gamburger-icon-color: #231F20;
$page-title-color:#000000;
$general-title-bgcolor:#F1F1F1;
$bgcolor-articles-lighter:#63D1BB;
$bgcolor-toys-darker:#56C3B2;
$text-color: #444444;
$mobile-width: 320px;
