$bgcolor-white: #ffffff;
$gamburger-icon-color: #231f20;
$page-title-color:#000000;
$general-title-bgcolor:#f1f1f1;
$bgcolor-articles-lighter:#63d1bb;
$bgcolor-toys-darker:#56c3b2;
$text-color: #444444;
$box-shadow-nav: #ececec;
$box-shadow-footer: #e5e5e5;
$articles-menu-decor:#63d1bb;
$articles-menu-toys: #56c3b2;
$modal-border:#c6c6c6;
$modal-box-shadow: rgba(0, 1, 1, 0.25);

$border-nav: 1px solid #ececec;

$mobile-width-only: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
